*{
    font-family: "Gotu";
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}

#location {
    width: fit-content;
    margin-inline: auto;
    display: block;
}

#latitudeBox {
    float: left;
}

#longitudeBox {
    float: right;
}

#submit {
    width: 100%;
}

#averageTempBox, #currentTempBox {
    float: left;
    width: 50%;
    margin: auto;
}